<div class="header">
    <h1>{{title}}</h1>
</div>
<div class="content">
    <p>{{message}}</p>
    {{!-- <div class="buscador">
        <form action="" method="get">
            <label for="name">Nombre:</label>
            <input type="text" name="name" placeholder="personaje...">

            <input type="submit" value="Buscar">
        </form>
        <form action="" method="get">
            <label for="age">Edad:</label>
            <input type="text" name="age" placeholder="edad...">

            <input type="submit" value="Buscar">
        </form>
        <form action="" method="get">
            <label for="movie">Pelicula:</label>
            <input type="text" name="movie" placeholder="pelicula...">

            <input type="submit" value="Buscar">
        </form>
    </div> --}}
    <ul class="list-items">
        <li>
            <a class="create-button" href="/api/{{type}}/create">+</a>
        </li>
        {{#each pelis}}
        <li class="card-character">
            <h2>{{titulo}}</h2>
            <img src={{imagen}} alt="">
            <b>{{fecha_de_creacion}}</b>
            <div class="card-buttons">
                <a href="/api/movies/read/{{id}}">+info</a>
                <a style="background-color:red" href="/api/movies/delete/{{id}}">BORRAR</a>
            </div>

        </li>
        {{/each}}
    </ul>
    <a style="background-color:rgb(12, 153, 106); padding:0.5rem;color:white;" href="/api/characters">ir a
        personajes</a>
</div>