<div class="header">
    <h1>{{title}}</h1>
</div>
<div class="content">
    <p>{{message}}</p>
   {{#each characters}}
        <ul>
            <li>{{nombre}}
               <img src={{imagen}} alt=""> 
                {{historia}}
            </li>
        </ul>
    {{/each}}
</div>