<div class="header">
    <h1>{{title}}</h1>
</div>

<form action="" method="post">

    <label for="nombre">Nombre<input name="nombre" type="text" placeholder="{{nombre}}" value="{{nombre}}"></label>
    <label for="historia">historia<input name="historia" type="text" placeholder="{{historia}}"
            value="{{historia}}"></label>
    <label for="edad">edad<input name="edad" type="text" placeholder="{{edad}}" value="{{edad}}"></label>
    <label for="peso">peso<input name="peso" type="text" placeholder="{{peso}}" value="{{peso}}"></label>
    <button type="submit">Actualizar</button>
</form>
<br>
<a href="../">Volver</a>